In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
rentalDF = pd.read_csv('data/rental_1000.csv')

In [3]:
rentalDF

     rooms  sqft   price
0        4  1334   69702
1        5  1725   86083
2        1  1058   53492
3        2  2117  106500
4        2  2225  110860
..     ...   ...     ...
995      2   724   36981
996      2  2305  114239
997      4  1782   88291
998      2  1449   75552
999      2  1190   60859

[1000 rows x 3 columns]

# Features and Labels
- rooms
- sqft 

# Label
- price

In [10]:
X = rentalDF[['rooms','sqft']].values   # Features 
y = rentalDF['price'].values           # Label

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

# Model Training

In [6]:
model = LinearRegression().fit(X, y)

# Model Prediction

In [7]:
predict_rental_price = model.predict(X_test[0].reshape(1,-1))[0]

In [8]:
print("The Real Rental Price for Rooms count=",X_test[0][0],"and","Area in Sqft =",X_test[0][1],"is =",y_test[0])
print("The Predicted Rental Price for Rooms count=",X_test[0][0],"and","Area in Sqft =",X_test[0][1],"is =",predict_rental_price)

The Real Rental Price for Rooms count= 4 and Area in Sqft = 2139 is = 110013
The Predicted Rental Price for Rooms count= 4 and Area in Sqft = 2139 is = 108888.41322112775